<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/f7/32/46/f732468a-6c89-2e75-9f3d-b0fa7db7e789/source/512x512bb.jpg"
                    width="30" height="30" class="d-inline-block align-top" alt=""> Bootstrap
            </a>
        </nav>
    </body>

</head>

</html>