<h1>Names in DB</h1>


<!-- <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" accept="image/*" name="photo" >
    <input type="submit" value="upload">
</form> -->
<p><%= photo %></p>
<img src="/home/parag/Desktop/dbms_project/uploads/images/d19fae138a88eb5ba18b1c1490c1b3b5"/>