<% include ../partials/teacherHeader.ejs %>
    <div class="jumbotron" style="background:transparent !important">
        <form action="/postTutorial" method="POST">
            <label>Subject</label>
            <select class="form-control" name="subject">
                <% subjectOptions.forEach(val => { %>
                    <option value="<%= val %>"><%= val %></option>
                <% }) %>
            </select>
            <br>
            <br>
            <div class="form-group">
                <label>Tutorial Link</label>
                <input type="text" name="link" class="form-control">
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>