<% include ../partials/teacherHeader.ejs %>

    <div class="jumbotron">
        <h1 class="display-4">Hello, teacher!</h1>
        <p class="lead">Help students in their viva preparations by posting pertinent questions and tutorials on this platform.</p>
        <hr class="my-4">
    </div>