<% include ../partials/teacherHeader.ejs %>

    <div class="jumbotron">
        <h1 class="display-4">Hello, <%= name %></h1>
        <p class="lead">Help students in their viva preparations by posting pertinent questions and tutorials on this platform.</p>
        <hr class="my-4">
        <a class="navbar-brand" href="/postQuestions">Post Questions</a>
        <a class="navbar-brand" href="/postTutorials">Post Tutorials</a>
                        
    </div>