<% include ../partials/studentHeader.ejs %>
<form action="/pdf" method="POST">
    <div class="form-group">
        <label>Note ID</label>
        <input value="<%= noteId %>" readonly type="number" name="noteId" class="form-control">
    </div>
    <input type="submit" value="create PDF">
</form>
    <div class="jumbotron" style="background:transparent !important">
    <% questions.forEach(question => { %>
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">Question : </h5>
                <p class="card-text">
                    <%= question.question %>
                </p>
                <hr>
                <h5 class="card-title">Answer : </h5>
                <p class="card-text">
                    <%= question.answer %>
                </p>
            </div>
        </div>
    <% }) %>
    </div>